// Custom styles.
h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}

h1 {
  padding-bottom: 0.3em;
  line-height: 1.2;
}
h2 {
  padding-bottom: 0.3em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}
h3 {
  font-size: 18px;
  line-height: 1.43;
}

.st-default-search-input {
  width: 60% !important;
}

a.tag-anchor {
  width: 60% !important;
  margin-bottom: 1em;
}

li.nav-item {
  margin-bottom: 1em;
}

.page-post-detail .sidebar-nav-overview {
  margin-left: 0;
}

a:link {
  text-decoration: underline;
  font-weight: bolder;
}

#works a:link,
#posts a:link,
.post-toc-content a:link
{
  text-decoration: none;
}

.caseHeading {
  padding: 0.6em 1.2em;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.author-info span:nth-last-child(n+2):after,
.author-info a:nth-last-child(n+2):after {
  content: " | "
}